.jumbotron {
    background-color:#DEF2f1 ;
    /* padding: 5em inherit !important;  */
    padding-top: 10 !important;
    padding-bottom: 5px !important;
    
}

nav {
    background-color: #2b7a78;
    color: #8E8C89;
}

.typewrite {
    color: #17252a;

body {
    background-color: #ffffff;
}

.display-4 {
    color: #2b7a78;
}




