.jumbotron {
    background-color:#DEF2f1 ;
}

nav {
    background-color: #2b7a78;
    color: #8E8C89;
}

.typewrite {
    color: #17252a;

body {
    background-color: #ffffff;
}

.display-4 {
    color: #2b7a78;
}
fa-cart-arrow-down {
    font-size: larger;
}
/* PASSING */

/* @-webkit-keyframes passing {
    0% {
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      opacity: 0;
    }
  
    50% {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
      opacity: 1;
    }
  
    100% {
      -webkit-transform: translateX(50%);
      transform: translateX(50%);
      opacity: 0;
    }
  }
  
  @keyframes passing {
    0% {
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      opacity: 0;
    }
  
    50% {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
      opacity: 1;
    }
  
    100% {
      -webkit-transform: translateX(50%);
      transform: translateX(50%);
      opacity: 0;
    }
  }
  
  .faa-passing.animated,
  .faa-passing.animated-hover:hover,
  .faa-parent.animated-hover:hover > .faa-passing {
    -webkit-animation: passing 2s linear infinite;
    animation: passing 2s linear infinite;
  }
  
  .faa-passing.animated.faa-fast,
  .faa-passing.animated-hover.faa-fast:hover,
  .faa-parent.animated-hover:hover > .faa-passing.faa-fast {
    -webkit-animation: passing 1s linear infinite;
    animation: passing 1s linear infinite;
  }
  
  .faa-passing.animated.faa-slow,
  .faa-passing.animated-hover.faa-slow:hover,
  .faa-parent.animated-hover:hover > .faa-passing.faa-slow {
    -webkit-animation: passing 3s linear infinite;
    animation: passing 3s linear infinite;
  }
  
  /* FLOAT */

/* @-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.faa-float.animated,
.faa-float.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-float {
  -webkit-animation: float 2s linear infinite;
  animation: float 2s linear infinite;
}

.faa-float.animated.faa-fast,
.faa-float.animated-hover.faa-fast:hover,
.faa-parent.animated-hover:hover > .faa-float.faa-fast {
  -webkit-animation: float 1s linear infinite;
  animation: float 1s linear infinite;
}

.faa-float.animated.faa-slow,
.faa-float.animated-hover.faa-slow:hover,
.faa-parent.animated-hover:hover > .faa-float.faa-slow {
  -webkit-animation: float 3s linear infinite;
  animation: float 3s linear infinite;
} */


/*Owl Design*/
/* .owl-prev {
    left: -30px;
}
.owl-next {
    right:-30px;
}
.owl-prev, .owl-next{
    position:absolute;
    top: 30%;
}
.owl-prev span, .owl-next span {
    font-size: 60px;
    color:#787878;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
    background-color: transparent;
} */

/* .owl-prev {
    left: -30px;
}
.owl-next {
    right:-30px;
}
.owl-prev, .owl-next{
    position:absolute;
    top: 30%;
}
.owl-prev span, .owl-next span {
    font-size: 60px;
    color:#787878;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
    background-color: transparent;
} */


/* .owl-prev {
    left: -30px;
}
.owl-next {
    right:-30px;
}
.owl-prev, .owl-next{
    position:absolute;
    top: 30%;
}
.owl-prev span, .owl-next span {
    font-size: 60px;
    color:#787878;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
    background-color: transparent;
} */

/* .owl-prev, .owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block !important;
    border:0px solid black;
}
.owl-prev { left: -20px; }
.owl-next { right: -20px; }
.owl-prev i, .owl-next i {transform : scale(2,5); color: #ccc;} */

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.owl-prev {
  left: -2rem;
}

.owl-next {
  right: -2rem;
}