.jumbotron {
    background-color:#DEF2f1 ;
}


nav {
    background-color: #2b7a78;
    color: #8E8C89;
}

.typewrite {
    color: #17252a;

body {
    background-color: #ffffff;
}

.display-4 {
    color: #2b7a78;
}

fa-cart-arrow-down {
    font-size: larger;
}


.main__item {
	height: 431px;
	display: flex;
	align-items: center;
	padding-left: 75px;
}

.main__text span {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 4px;
	color: #7fad39;
}

.main__text h2 {
	font-size: 46px;
	color: #252525;
	line-height: 52px;
	font-weight: 700;
	margin: 10px 0;
}

.main__text p {
    margin-bottom: 35px;
    
}

